@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-4: #615EFC;
    --color-5: #f86390;
    --color-6: #ffb4ca;
    --bg-body-2: #ff4ecd;
}

* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    &::-webkit-scrollbar {
        width: 7px;
        background: linear-gradient(180deg, var(--color-4), var(--color-5));
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-6);
    }

    &::selection {
        background-color: var(--bg-body-2);
        color: #fff;
    }
}

.custom-container-1 {
    background: rgba(255, 255, 255, 0.1);
    /*backdrop-filter: blur(10px);*/
}

.custom-container-2 {
    background: rgba(0, 0, 0, 0.8);
    /*backdrop-filter: blur(10px);*/
}

.custom-modal {
    height: calc(100vh - 56px);
}